<div class="container" ng-keyup="keyup($event)">
    <h3>{{type}} calculator</h3>
    <div>
        <div id="display">
            {{calculator.result[0]}} {{calculator.operation.symbol}}<br/>
            {{calculator.value}}
            
        </div>
    </div>
    <div class="col-xs-3" ng-repeat="component in calculator.components">
        {{component}}
        <div ng-repeat="model in group">
            <a class="button number" ng-click="model.onclick()">
                <span>
                    {{model.symbol}}
                </span>
            </a>
        </div>
    </div>
</div>
<div class="bg"></div>