<div id="home">
    <div class="container">
        <div class="inner-col">
            <h1>Calculator Challenge</h1>
            <br/><br/>
                <p>
                    The PURE javascript Application built by Shagai Nyamdorj
                </p>
            <br/>
            <p class="small">
                I just wanted to let you know that the things you do for me do not go unnoticed.<br/>
                You’re a necessary piece to this puzzle.
                I appreciate your dedication and service.
            </p>
            <br/>
            <div class="text">
                <div>
                    <a href="#/basic" class="button">
                        <span>Basic version</span>
                    </a>
                    <a href="#/scientific" class="button">
                        <span>Scientific version</span>
                    </a>
                </div>
            </div>
            <div id="calculator" ng-controller="calculatorController" ng-show="type" >
                <div class="row">
                    <h3>{{type}} calculator</h3>
                </div>
                <div class="row">
                    
                    <div id="display" class="col-2" >
                        {{calculator.result[0] + '' | decimal}} {{calculator.operation.symbol}}<br/>
                        {{calculator.sign}} {{calculator.value | decimal}}<br/>
                    </div>
                    <div class="warning"  animate-on-change="calculator.message">
                        {{calculator.message}}&nbsp;
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col" >
                                <div class="row">
                                    <a class="button" ng-repeat="component in calculator.components['bases']" ng-click="component.onclick()">
                                        <span>
                                            {{component.text}}
                                        </span>
                                    </a>
                                </div>
                                <div class="row">
                                    <a class="button" ng-repeat="component in calculator.components['numbers']" ng-click="component.onclick()">
                                        <span>
                                            {{component.text}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col" >
                                <div class="row">
                                    <a class="button" ng-repeat="component in calculator.components['commands']" ng-click="component.onclick()">
                                        <span>
                                            {{component.text}}
                                        </span>
                                    </a>
                                </div>
                                <div class="row">
                                    <a class="button" ng-repeat="component in calculator.components['operations']" ng-click="component.onclick()">
                                        <span>
                                            {{component.text}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>
