.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13 {
  position: relative;
  min-height: 1px;
  border: 1px solid #b5b5b5;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 980px) {
  .container {
    width: 1010px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.col-xs-13 {
  width: 100%;
}
.col-xs-12 {
  width: 92.30769231%;
}
.col-xs-11 {
  width: 84.61538462%;
}
.col-xs-10 {
  width: 76.92307692%;
}
.col-xs-9 {
  width: 69.23076923%;
}
.col-xs-8 {
  width: 61.53846154%;
}
.col-xs-7 {
  width: 53.84615385%;
}
.col-xs-6 {
  width: 46.15384615%;
}
.col-xs-5 {
  width: 38.46153846%;
}
.col-xs-4 {
  width: 30.76923077%;
}
.col-xs-3 {
  width: 23.07692308%;
}
.col-xs-2 {
  width: 15.38461538%;
}
.col-xs-1 {
  width: 7.69230769%;
}
