@base: #FFF;
@base_width: 12px;
@base_margin: 4px;
@font-family: 'Open Sans', Helvetica Neue, Arial;
@color: @base;

@border: 1px solid rgba(255, 255, 255, 0.5);

.generate-header(6);

.generate-header(@n, @i: 1) when (@i =< @n) {
  h@{i} {
       font-weight: normal;
  }
  .generate-header(@n, (@i + 1));
}
.background-image-linear(@ogrin, @from, @to){
    background-image: -webkit-linear-gradient(@ogrin, @from, @to);
    background-image: linear-gradient(@ogrin, @from, @to);
    background-image: -moz-linear-gradient(@ogrin, @from, @to);
}
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.border-image(@outset, @repeat, @slice, @width, @src, @color) {
    border-image-outset: @outset;
    border-image-repeat: @repeat;
    border-image-slice: @slice;
    border-image-source: @src;
    border-image-width: @width;
    border-color: @color;
}
.shadow-generate(@size, @color){
    -webkit-box-shadow: @size @color;
    -moz-box-shadow:    @size @color;
    box-shadow:         @size @color;
}
@button-width: 45px;
.button{
    text-align: center;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    .shadow-generate(0px 1px 0px 0px, rgba(0, 0, 0, 0.14902));
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    .background-image-linear(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.34902));
    .border-image(0px, stretch, 100%, 1, none, @color);
    .border-radius(5px);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: auto;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 39px;
    line-height: 24px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px -1px 0px;
    &:hover{
        .shadow-generate(0 5px 10px, rgba(0, 0, 0, .2));
    }
}
.button span{
    .border-radius(5px);
    cursor: pointer;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(93, 182, 232), rgb(22, 142, 218) 85%, rgb(22, 142, 218) 90%, rgb(29, 147, 221));
    background-origin: padding-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 11px;
    height: 37px;
    line-height: 37px;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px -1px 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.row{
    padding: 5px 0px;
}
@col-width: 251px;

@phone-screen: 320px;/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@phone-screen: 480px;/* smartphones, Android phones, landscape iPhone */ 
@tablet-screen: 600px;/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
@tablet-screen: 801px;/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@large-screen: 1025px;/* big landscape tablets, laptops, and desktops */ 
@large-screen: 1281px;/* hi-res laptops and desktops */ 

@large-screen: 700px;
.container-size(@large-screen);

.container-size(@size){
    @base-width: @size;
    .container{
        margin: 0 auto;
        width: @size;
    }
}
@media screen and (min-width: @phone-screen) {
    .container-size(@phone-screen);
}
@media screen and (min-width: @tablet-screen) {
    .container-size(@tablet-screen);
}
@media screen and (min-width: @large-screen) {
    .container-size(@large-screen);
}



body {
	font-family: @font-family;
	font-size: 13px;
    background: @base;
    color: @color;
    line-height: 22px;
}

#display{
    margin: 0 auto;
    &:extend(.box);
    text-align: right;
    padding: @base_margin @base_margin * 2;
    border: 1px solid ;
    border-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.col{
    display: table-cell;
    text-align: left;
    width: @col-width;
}
.col-2{
    width: @col-width * 2;
}
body{
    opacity: 1 !important;
    display: block;
    background: #1e8ecf;
    transform: translate3d(0, 0, 0);
    background-image: -webkit--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -webkit--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -webkit--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -webkit--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%);
    background-image: -moz--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -moz--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -moz--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -moz--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz-linear-gradient(108deg,#26d0ce,#1a2980 90%);
    background-image: -ms--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -ms--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -ms--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -ms--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
    background-image: -ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms-linear-gradient(108deg,#26d0ce,#1a2980 90%);
}

#home{
    text-align: center;
    color: @color;
}
.inner-col{
    position: relative;
    min-height: 100%;
    padding-top: 50px;
    z-index: 40;
    text-align: center;
}
.text .button span{
    min-width: 130px;
}
#calculator{
    
    
}
#calculator, .col-2{
    margin: 25px auto;
}
#calculator h3{
    text-transform: uppercase;
}
#calculator .button{
    margin: 0 5px 5px 0px;
}
#calculator .button span{
    min-width: 50px;
}
.col{
    margin: 0 auto;
}
.warning{
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}
.change {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
.small{
    font-size: 9px;
}
.change-up {
	opacity: 1;
}